body {
    background-color: rgb(23, 24, 24);
    margin: 0;
}

nav {
    margin: 10px;

}
ul {
    list-style-type: none;
}
ul li {
    margin: 20px;
}
ul li a {
    float: right;
    margin: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.logo {
    float: left;
    font-weight: 700;
    font-size: 20px;
}

.image-thumbnails-container{
    margin-top: 10%;


}

.image-container{
    float: left;
    border: 1px solid white;
    border-radius: 8px;
    overflow:hidden;
    margin: 10px;
  
    
    
    
}
.image-container  :hover{
    border: 3px solid white;
    
}


.mySlides{
    
    
}
.image-slider{
    background-color: black;
    
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }