body {
    background-color: rgb(23, 24, 24);
}

ul {
    list-style-type: none;
}
ul li {
    margin: 20px;
}
ul li a {
    float: right;
    margin: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.logo {
    float: left;
    font-weight: 700;
    font-size: 20px;
}

